<section id="courses">
  <div class="containercurs">
    <div class="crsbg">
      <div class="curs">
        <h2>OUR COURSES</h2>
      </div>
    </div>
  </div>
</section>

<!------courses in logistics----->

<section id="cravt">
  <div class="advn">
    
    
    <div class="dplav">
      <div class="frst">
        <img src="../../assets/cbncrw/Logistics.png" alt="">
        
        
      </div>
      <div class="snd">
        <div class="snd1">
          <h1>COURSES IN LOGISTICS</h1>
          <details open>
            <summary>BBA IN LOGISTICS</summary>
            <p>BBA Logistics & Supply Chain Management is a three-year undergraduate programme that provides students with 
              the fundamental knowledge of logistics and supply chain business operations. The programme is structured 
              institution that is known for its global standing in creating job-ready professionals of tomorrow.
            </p>
          </details>
          <details>
            <summary>ADVANCE DIPLOMA IN LOGISTICS</summary>
            <p>ADVANCE DIPLOMA IN LOGISTICS
              Our Logistics & Supply Chain programmes will give you special insight into international trade and 
              logistics management, groom you to be an in-demand professional in supply chain management sector 
              able to cope with the challenges of an increasingly globalised world
              <!-- ● The program is designed to provide learners with fundamental to the in-depth development of 
                knowledge needed for a career in logistics and supply chain management
                ● It gives an overview of the fundamentals of logistics, supply chain management and transportation
                ● Students will be equipped with a thorough understanding of the types of business organizations and 
                issues of employment and the legal aspects needed for logistics industries
                ● Students will be studying Business Statistics, Management Principles, Business Microeconomics, 
                Transport Management, etc. --></p>
              </details>
              <details>
                <summary>PG IN LOGISTICS</summary>
                <p>Aviation industry is quiet vast and offers plenty of career options. One can work as air hostess, 
                  customer care executive, air ticketing professional, aviation administrator, Airport Manager , 
                  Airline Manager, Ground Handling officer, cargo manager, operation executive, flight steward or 
                  be a part of the cabin crew. Various divisions of the prominent airlines companies like Air India, 
                  Indigo, Air Asia, Vistara etc.</p>
                </details>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <br>
      
     <!-----------courses in aviation-->
        
        
        <section id="adplavt">
          <div class="containeravt">
            <div class="avth">
              <h1>COURSES IN AVIATION</h1>
              <details open>
                <summary>BBA IN AVIATION</summary>
                <p>BBA Logistics & Supply Chain Management is a three-year undergraduate programme that provides students with 
                  the fundamental knowledge of logistics and supply chain business operations. The programme is structured 
                  institution that is known for its global standing in creating job-ready professionals of tomorrow.
                </p>
              </details>
              <details>
                <summary>ADVANCE DIPLOMA IN AVIATION</summary>
                <p>ADVANCE DIPLOMA IN LOGISTICS
                  Our Logistics & Supply Chain programmes will give you special insight into international trade and 
                  logistics management, groom you to be an in-demand professional in supply chain management sector 
                  able to cope with the challenges of an increasingly globalised world
                  <!-- ● The program is designed to provide learners with fundamental to the in-depth development of 
                    knowledge needed for a career in logistics and supply chain management
                    ● It gives an overview of the fundamentals of logistics, supply chain management and transportation
                    ● Students will be equipped with a thorough understanding of the types of business organizations and 
                    issues of employment and the legal aspects needed for logistics industries
                    ● Students will be studying Business Statistics, Management Principles, Business Microeconomics, 
                    Transport Management, etc. --></p>
                  </details>
                  <details>
                    <summary>PG IN AVIATION</summary>
                    <p>Aviation industry is quiet vast and offers plenty of career options. One can work as air hostess, 
                      customer care executive, air ticketing professional, aviation administrator, Airport Manager , 
                      Airline Manager, Ground Handling officer, cargo manager, operation executive, flight steward or 
                      be a part of the cabin crew. Various divisions of the prominent airlines companies like Air India, 
                      Indigo, Air Asia, Vistara etc.</p>
                     </details>
                     <details>
                      <summary>CABIN CREW</summary>
                      <p>Working as cabin crew for a major airline is an exciting and challenging experience. In addition to jetting 
                        off to exotic destinations, the job also requires a high degree of responsibility and specialization to ensure 
                        the safety and comfort of passengers in line with industry regulations.</p>
                      </details>
                  
                  
                  </div>

                </div>
              </section>


              <section id="sap">
                <div class="containersap">
                  <div class="row align-center">
                    <div class="col-lg-6 info">
                      <div class="saph">
                        <h1 >SAP TRAINING</h1>
                        <p>
                          SAP stands for ‘Systems Applications and Products’ and was originally aimed to provide 
                          customers with the ability to interact upon a common database along a comprehensive application 
                          range.
                          If a person wants to peruse a career based on SAP knowledge, he/she needs to have an SAP 
                          certification. The SAP certification program today offers more than 150 different certifications. For 
                          a beginner, there is a lot of option to choose from and therefore, they would be confused. 
                          However, a beginner could select certification based on what he/she likes.
                          With SAP’s skill recognition program, everyone can validate their skills from foundational to 
                          intermediate and advanced levels and become a trusted SAP expert. <br>
                          ● Gain a highly recognized, on-demand accreditation of excellence <br>
                          ● Differentiate yourself in a crowded market <br>
                          ● Execute tasks with confidence and skills <br>
                          ● Attain higher wages and billable rates with a highly valued credential
                        </p>
                      </div>
                    </div>
                    
                    <div class="col-lg-6 thumb">
                      <div class="card1s">
                        <!-- <img src="../../assets/images/UK_Career.jpg" alt="img" /> -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              
              
              <app-footer></app-footer>

    