<section class="tophdr">
    <div class="topic">
        <ul>
            <span><i class="bi bi-envelope-paper"></i> <p>abchde@gmail</p> </span>
            <span><p>|</p></span>
            <span><i class="bi bi-telephone"></i><p>080552244</p> </span>
        </ul>
    </div>
        
        <div class="topli">
            <ul>
                <span><i class="bi bi-instagram"></i></span>
                <span>|</span>
                
                <span><i class="bi bi-facebook"></i></span>
                <span>|</span>
                
                <span><i class="bi bi-whatsapp"></i></span>
            </ul>
        </div>
        
        
        
    </section>