<section id="abts">
  <div class="containerabt">
    <div class="abtbg">
      <div class="abt">
        <h2>ABOUT US</h2>
      </div>
    </div>
  </div>
</section>

<section class="habt">
  <div class="contabt">
    <div class="abt1">
      
      <div class="abtimg up-down">
        
        <img src="../../assets/officeimgs/brooke-cagle-uWVWQ8gF8PE-unsplash.jpg" alt="">
        
      </div>
    </div>
    <div class="abt2">
      <div class="abt21">
        <div class="abt22">
          <div class="abth">
            <div class="abth1">ABOUT</div>
            <div class="abth2">US</div>
          </div>
          
        </div>
        
      </div>
      
      <div class="bln"></div>
        <div class="abt3">
      <div class="abtp">
        <p>Voyage International Varsity of aviation and logistics was established in the year 2019 and is one of India's fastest growing academy in the field of aviation,
           hospitality and logistics management.
          The academy is specialised in providing students with best in class education and job oriented skill training to mould youths into certified professionals based on their field of choice. Voyage is a STED council approved academy which also provides a hundred percent job guarantee after every course. The academy allows students to be trained and groomed under the guidance of best-in-class faculty and industry experts.
          Our students have been placed at a number of reputed companies both in India and abroad.</p>
          
        </div>
      </div>
      
    </div>

  </div>
 
</section>


<!-- <section id="prgh">
  <div class="containerh">
    <div class="row align-center">
      <div class="col-lg-6 info">
        <div class="prgh">
          <h1 >Our TeamManagement</h1>
          <p>
            An airport is a place where airplanes can land or take off. Most
            airports in the world have only a long strip of level ground called
            a runway. Many airports have buildings which are used to hold
            airplanes and passengers. A building that holds passengers waiting
            for their planes or luggage is called a terminal.
            <br />
            Airport is a complex of buildings and runways for take-off, landing
            and maintenance of civil aircraft. It has facilities for passengers.
            An airport is a place where airplanes can land or take off. Most
            airports in the world have only a long strip of level ground called
            a runway.
          </p>
        </div>
      </div>
      
      <div class="col-lg-6 thumb">
        <div class="card11">
          
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br> -->

<!----------- who we are ------------>

<section id="midw">
  <div class="mainw">
     <div class="first">
       <img src="../../assets/officeimgs/jonathan-borba-QYnAdQlLNek-unsplash.jpg" alt="">
      </div>

      <div class="second">
        <div class="dv1">
          <div class="dv2">
            <div class="dvh">
              <div class="dvh1">OUR </div>
                <div class="dvh2">VISION</div>
                   </div>
           <div class="dvb">
            <h3>The Devoted Special Services</h3>
            
           </div>
           <div class="bln"></div>

          </div>
           <div class="dv3">
            <div class="dvp">
              <p>As a mission driven organization, our top priority is to provide exceptional training and proper skillsets 
                and tools to all its students regardless of where they are from and regardless of the career they wish 
                to pursue in the field of aviation and logistics. </p>

            </div>
           </div>
        </div>
      </div>
    </div>
</section><br>

<!-----Progress bar----->
<section id="prgbr">
  <div class="containerbr">
    <div class="pgrph">
      <div class="brh">
           <div class="brhh">
            <div class="brh1">WHY</div>
            <div class="brh2">CHOOSE  US</div>
           </div>
      
      <div class="brhs">
        Why You Should Choose Us
        
      </div>
      <div class="bln"></div>
    </div>
      <div class="brhp">
          <p>
            We pay particular attention  to  train our students in customer orientation, 
            behavioral skills, customer relations,
             communication and oratory skills and service that enhance both novelty and tradition with a firm commitment to providing the finest service and comfort to passengers yet dependable, and friendly.
          </p>
      </div>
    

    </div>
    <div class="pgrbr">
      <div class="pbbrc">
    <div class="p01"><div class="one"> <h1>Infrastructure</h1> <h2>90%</h2></div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
       
      </div>
      <div class="p01"><div class="one"> <h1>Experienced Faculty</h1> <h2>95%</h2></div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 95%; " aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
       
      </div>
      <div class="p01"><div class="one"> <h1>Placement Assistance</h1> <h2>92%</h2></div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
       
      </div>
      <div class="p01"><div class="one"> <h1>Internship Training</h1> <h2>75%</h2></div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
       
      </div>
      
       
      </div>
    </div> 
  
  </div>

</section>









<section class="containerp">
    
  <div class="card1_outer">
    
    <div class="card1">
      <div class="content1">
        <h2 class="title1">This is title</h2>
        <p class="copy1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn1">Read More</button>
      </div>
    
   </div>
    <div class="card1">
      <div class="content1">
        <h2 class="title1">This is title</h2>
        <p class="copy1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn1">Read More</button>
      </div>
    </div>
    <div class="card1">
      <div class="content1">
        <h2 class="title1">This is title</h2>
        <p class="copy1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn1">Read More</button>
      </div>
    </div>
    <div class="card1">
      <div class="content1">
        <h2 class="title1">This is title</h2>
        <p class="copy1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn1">Read More</button>
      </div>
    </div>
  </div>
</section>

    
    
    
    
    
    
    
    
    <!-- <br><br><br><br><br><br><br><br><br><br><br><b><br> -->
    
    
    
    
    
    
    
    
    
    
    
    <app-footer></app-footer>
    