
<app-topheader></app-topheader>
<app-subheader></app-subheader>
<!-- <app-home></app-home> -->
<!-- <app-aboutus></app-aboutus> -->
<!-- <nav class="subheader">
   
    <div class="sublogo">
       <img src="../../assets/images/logo-removebg-preview.png" alt="">
    </div>
 
    <div class="subl">
       <ul>
          <a routerLink="home">Home</a>
           <a  routerLink="aboutus" routerLinkActive="Active" >    Aboutus</a> 
          <span>Courses</span>
          <span>Testimonials</span>
          <span>pages</span>
          <span>contactus</span>
 
       </ul>
    </div>
 </nav>
  -->
 


<router-outlet></router-outlet>
