<nav class="subheader">
   
   <div class="sublogo">
      <img src="../../assets/images/logo-removebg-preview.png" alt="">
   </div>

   <div class="subl">
      <ul class="whi">
         <a  routerLink="/home">HOME</a>
          <a  routerLink="/aboutus" routerLinkActive="Active" > ABOUT US</a> 
         <a  routerLink="/courses" >COURSES</a>
          <a  routerLink="/testimonials">TESTIMONIALS</a>
         <a  >OUR GALLERY</a>
         <a routerLink="/contactus">CONTACT US</a>

      </ul>
   </div>
</nav>

