<!-- start testimonials -->
<div class="testim">
    <div class="containerts">
      <h2>Testimonials</h2>
        <div class="testim-content">
          
        <div class="testim-box">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure non reiciendis reprehenderit? Dicta eaque illo ut beatae alias quod, distinctio ad, asperiores vitae culpa qui nisi rerum debitis modi.</p>
          <div class="testim-box-content">
           <img src="https://i.postimg.cc/rpRQv1sc/3.jpg" alt="">
            <h3>Mahmoud Mohamed</h3>
            <p>FrontEnd Developer</p>
          </div>
        </div>
          <div class="testim-box">
  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure non reiciendis reprehenderit? Dicta eaque illo ut beatae alias quod, distinctio ad, asperiores vitae culpa qui nisi rerum debitis modi.</p>
            <div class="testim-box-content">
              <img src="https://i.postimg.cc/rpRQv1sc/3.jpg" alt="">
              <h3>Mahmoud Mohamed</h3>
              <p>FrontEnd Developer</p>
            </div>
          </div>
            <div class="testim-box">
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iure non reiciendis reprehenderit? Dicta eaque illo ut beatae alias quod, distinctio ad, asperiores vitae culpa qui nisi rerum debitis modi.</p>
              <div class="testim-box-content">
                <img src="https://i.postimg.cc/rpRQv1sc/3.jpg" alt="">
                <h3>Mahmoud Mohamed</h3>
                <p>FrontEnd Developer</p>
              </div>
            </div>
  
          </div>
    </div>
  </div>
  <!-- end testimonils -->