/* :root{
    --main-color:#21474b;
    --second-color:#1b2b41;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.containerts{
    width: 80%;
    margin: auto;
}

.testim{
  position: relative;
  padding: 80px 60px;
}
.testim h2{
  color: var(--secound-color);
  font-size: 2rem;
  font-weight: bold;
}
.testim::before{
  position: absolute;
  content: "";
  width: 50%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: 100%;
  z-index: -1;
    }

.testim::after{
  position: absolute;
  content: "";
  width: 50%;
  top: 0;
  right:  0;
  background-color: #0d141f;
  height: 100%;
    }
    
.testim-content{
position: relative;
display: flex;
justify-content: space-around;
gap: 30px;

}

.testim-box{
z-index: 2;
background-color: var(--secound-color);
padding: 20px 30px;

}



.testim-box-content img{
  top: -10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  position: relative;

}

.testim-content h3{
  color: #fff;
  font-size: 1.3rem;
  }
  .testim-box > p{
    color: rgb(209, 194, 194);
    font-style: italic;
    padding-bottom: 20px;
  }
.testim-box-content p{
color: var(--main-color);
} */
/* endtestimonails */


.testimonials-clean {
  width: 100vw;
  height:100vh;
  color:rgb(21, 50, 100);
  background-color:#b7c9d1;
  /* padding-top: 200px; */
}

.testimonials-clean p {
  color:rgb(21, 50, 100);
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

/* @media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
} */

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

/* @media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
} */

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
  margin: 10px;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}
