

<!-- <app-topheader></app-topheader> -->
<!-- <app-subheader></app-subheader> -->




<section id="carousel1">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="../../assets/images/wp4232979.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>OUR GOAL IS</h2>
          <h1>ACHEIVING SUCCESS.</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/images/wp4232984.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>OUR GOAL IS</h2>
          <h1>ACHEIVING SUCCESS.</h1>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</section>






<section class="sec">
  <div class="head">Our Features</div>
  
  <div class="main">
    <div class="left">
      <span><i class="bi bi-chevron-double-right"></i>
        Spacious infrastructure with amble facilities
        </span
        ><br/><br>
        <span><i class="bi bi-chevron-double-right"></i>
          Internship based learning experience
          </span
          ><br/><br>
          <span><i class="bi bi-chevron-double-right"></i>
            
            Certified career and psychological counsellor</span
            ><br/>
            
          </div>
          <div class="cent">
            <img src="../../assets/cbncrw/office-1347197740-170667a.jpg" alt="" />
          </div>
          <div class="right">
            <span><i class="bi bi-chevron-double-right"></i>
              100% placement guarantee. </span
              ><br/><br>
              <span><i class="bi bi-chevron-double-right"></i>
                
                Study tours for students India and abroad.
                </span
                ><br/><br>
                <span> <i class="bi bi-chevron-double-right"></i>
                  
                  Industry Institution Interaction</span
                  ><br/>
                  
                  
                </div>
              </div>
            </section>
            
            
            <section class="habt">
              <div class="contabt">
                <div class="abt1">
                  
                  <div class="abtimg up-down">
                    
                    <img src="../../assets/officeimgs/brooke-cagle-uWVWQ8gF8PE-unsplash.jpg" alt="">
                    
                  </div>
                </div>
                <div class="abt2">
                  <div class="abt21">
                    <div class="abt22">
                      <div class="abth">
                        <div class="abth1">ABOUT</div>
                        <div class="abth2">US</div>
                      </div>
                      
                    </div>
                    
                  </div>
                  
                  <div class="bln"></div>
                  <div class="abt3">
                    <div class="abtp">
                      <p>Voyage International Varsity of aviation and logistics was established in the year 2019 and is one of India's fastest growing academy in the field of aviation,
                        hospitality and logistics management.
                        The academy is specialised in providing students with best in class education and job oriented skill training to mould youths into certified professionals based on their field of choice. Voyage is a STED council approved academy which also provides a hundred percent job guarantee after every course. The academy allows students to be trained and groomed under the guidance of best-in-class faculty and industry experts.
                        Our students have been placed at a number of reputed companies both in India and abroad.</p>
                        
                      </div>
                    </div>
                    
                  </div>
                  
                </div>
                
              </section>
              
              
              
              
              
              
              <section id="crs">
                <div class="contcrs">
                  <div class="tp"> 
                    <div class="lftp">
                      <div class="hdf">
                        <h2>
                          OUR COURSES</h2>
                        </div><br>
                        <div class="br"></div><br>
                        <div class="pf">
                          <p>We have a highly qualified, motivated and dedicated team of professionals with vast experience in teaching young graduates and fresh candidates.
                            We believe that highly-motivated and well-trained employees can show distinguished performance in the field of education.
                            Our effort is to teach today’s young generation the complex competitive world.</p>
                          </div>
                        </div>
                        
                        <div class="tp1">
                          <div class="card_outer">
                            <div class="card crd1">
                              <div class="content">
                                <h2 class="title">BBA IN AVIATION</h2>
                                <p class="copy">The Bachelor of Aviation is a bachelor's degree for studies within the aviation industry. </p>
                                <button class="btn"> <a  routerLink="/courses">read more</a></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tp2">
                          <div class="card_outer">
                            <div class="card crd2">
                              <div class="content">
                                <h2 class="title">BBA IN LOGISTICS</h2>
                                <p class="copy">BBA Logistics & Supply Chain Manegement is three-year of undergraduate programme.</p>
                                <button class="btn"><a  routerLink="/courses">read more</a></button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- <br><br> -->
                        
                        
                      </div>
                      
                      <div class="divcont">
                        
                        <div class="one1"> 
                          <h2>CABINCREW TRAINING</h2>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In vitae nobis dicta.</p>
                          <button class="bun1"><a style="text-decoration: none; color:#fff " href="/courses" routerLink="/courses">More info</a> </button> 
                          </div>
                        
            
                          <div class="one2"><h2>  ADVANCE DIPLOMA IN AVIATION</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In vitae nobis dicta.</p>
                            <button class="bun2"><a style="text-decoration: none; color: #fff;" href="/courses" routerLink="/courses">More info</a> </button></div>
                           
                            <div class="one3"><h2>ADVANCE DIPLOMA IN LOGISTICS</h2>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In vitae nobis dicta.</p>
                              <button class="bun3"><a  style="text-decoration: none; color: #fff;"   href="/courses" routerLink="/courses">More info</a> </button></div>
                              
                           
                              <div class="one4"><h2>SAP TRAINING</h2>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In vitae nobis dicta.</p>
                                <button class="bun4"><a style="text-decoration: none; color: #fff;" href="/courses" routerLink="/courses">More info</a> </button></div>
                                
                           
                            </div>
                            
                            
                            
                            <div class="bt">
                              <div class="btm1">
                                <div class="card_outer">
                                  <div class="card crd3">
                                    <div class="content">
                                      <h2 class="title">ADVANCE DIPLOMA IN AVIATION</h2>
                                      <p class="copy">Diploma in Aviation is a full time diploma level course for a duration of 6 Months- 1 Year.</p>
                                      <button class="btn"><a  routerLink="/courses">read more</a></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="btm2">
                                <div class="card_outer">
                                  <div class="card crd4">
                                    <div class="content">
                                      <h2 class="title">ADVANCE DIPLOMA IN LOGISTICS</h2>
                                      <p class="copy">Our Logistics & Supply Chain programmes will give you special insight into international trade.</p>
                                      <button class="btn"><a  routerLink="/courses">read more</a></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="btm3">
                                <div class="card_outer">
                                  <div class="card crd5">
                                    <div class="content">
                                      <h2 class="title">SAP TRAINING</h2>
                                      <p class="copy">SAP stands for ‘Systems Applications and Products’,We are providing best Training for SAP.</p>
                                      <button class="btn"><a  routerLink="/courses">read more</a></button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> 
                          </div>
                        </section>
                        
                        
                        <!-- <section id="urcrs"> -->
                          
                          <!-- 
                            <section class="testimonial text-center">
                              <div class="container">
                                
                                <div class="heading white-heading">
                                  Testimonial
                                </div>
                                <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
                                  
                                  <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                      <div class="testimonial4_slide">
                                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        <h4>Client 1</h4>
                                      </div>
                                    </div>
                                    <div class="carousel-item">
                                      <div class="testimonial4_slide">
                                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        <h4>Client 2</h4>
                                      </div>
                                    </div>
                                    <div class="carousel-item">
                                      <div class="testimonial4_slide">
                                        <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                        <h4>Client 3</h4>
                                      </div>
                                    </div>
                                  </div>
                                  <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                  </a>
                                  <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                  </a>
                                </div>
                              </div>
                            </section> -->
                            
                            
                            
                            
                            <Section id="contact">
                              <div class="container">
                                <div class="form-par">
                                  <h2>Get IN Touch With US !</h2>
                                  <form>
                                    <input type="text" placeholder="Your Name" class="f-name form-com" />
                                    <input type="email" placeholder="Email" class="em-input form-com" />
                                    <input type="tel" id="phone" name="phone" class="phone-input form-com" placeholder="Mobile No" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
                                    <input type="text" placeholder="Website" class="web-input form-com" />
                                    <input type="submit" value="submit" class="submit-btn" />
                                  </form>
                                </div>
                              </div>
                              <!--container-->
                            </Section>
                            <!--contact-->
                            
                            
                            <app-footer></app-footer>
                            
                            
                            